h1 {
	text-align: center;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	padding-top: 20px;
}

body > div > div {
	display: flex;
	gap: 20px;
	justify-content: center;
	text-align: center;
}

body > div p {
	margin: 5px;
}

#filter button {
	margin-right: 5px;
}

article {
	background-color: gray;
	width: 30%;
	border-radius: 8px;
	padding: 10px;
	text-align: center;
}

@media screen and (max-width: 820px) {
	article {
		width: 45%;
	}
}

@media screen and (max-width: 510px) {
	article {
		width: 90%;
	}

	body > div > div {
		padding: 0px 15px 0px 15px;
	}
}
