body {
	background-color: rgb(218, 218, 218);
}

#root {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 300px;
}

body div input[type="text"] {
	border: unset;
	border-radius: 4px;
	padding: 5px 15px;
	width: 200px;
}

#root > div {
	margin-bottom: 15px;
}

#root > div button {
	background-color: green;
	color: white;
	border: unset;
	border-radius: 4px;
	padding: 5px 15px;
}

#root .radioBtnsContainer {
	display: flex;
	justify-content: space-between;
	padding: 0px 10px 0px 10px;
}

#root ul {
	list-style-type: none;
	padding: 0;
	max-width: 290px;
	height: 500px;
	overflow: auto;
}

#root ul li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
	border-radius: 4px;
}

#root ul li div {
	display: flex;
	align-items: center;
	gap: 5px;
}

#root ul li p {
	overflow: hidden;
	margin: 0;
	height: 18px;
}

#root ul li div input {
	width: 15px;
	height: 15px;
}

#root ul li button {
	border-radius: 4px;
	border: unset;
	background-color: red;
	color: black;
	padding: 5px 15px;
	font-weight: 600;
}

button {
	cursor: pointer;
}

.lineThrough {
	text-decoration-line: line-through;
}
