section {
	background-color: aliceblue;
	margin: 0 auto;
	padding: 10px;
	width: 20%;
	border-radius: 6px;
}

h3 {
	text-align: center;
	margin: 0px 0px 15px 0px;
}

form {
	width: 85%;
	margin: 0 auto;
}

form div {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	gap: 5px;
	width: 100%;
}

.errorMessage {
	color: red;
	margin: 0;
	font-size: 14px;
}
