body {
	margin: 0;
}

section {
	height: 100vh;
	position: relative;
	z-index: 0;
}

.overlay {
	background-color: #00000059;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: 1;
}

ul {
	height: 50px;
	width: 420px;
	list-style-type: none;
	margin: 0 auto;
	padding: 10px;
	display: flex;
	gap: 10px;
	position: relative;
	z-index: 2;
}

li {
	height: 50px;
	width: 70px;
}

img {
	height: 100%;
	width: 100%;
	cursor: pointer;
	border-radius: 6px;
}

.modal {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	padding: 10px;
	border-radius: 6px;
	position: relative;
	z-index: 2;
}

.modal > button {
	position: relative;
	left: calc(100% - 39px);
}

.modalContent {
	padding: 10px 30px;
	height: calc(100% - 69px);
}

.buttonsContainer {
	display: flex;
	justify-content: center;
	gap: 15px;
}

button {
	border: unset;
	cursor: pointer;
	background-color: #c3c3c3;
	border-radius: 4px;
	padding: 4px 14px;
}

.hidden {
	display: none;
}

.loading {
	filter: blur(10px);
	background-color: gray;
	transition: filter 0.3s ease;
}
