ul {
    height: 50px;
    width: 420px;
    list-style-type: none;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    gap: 10px;
}

li {
    height: 50px;
    width: 70px;
}

img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.wideImage {
    
}