body {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	max-width: 30%;
}

h1 {
	font-size: 27px;
}

label {
	text-align: left;
}

table {
	margin: 10px 0px 10px 0px;
    text-align: left;
}

.btnsContainer {
	text-align: center;
}
