section {
	width: 20%;
	margin: 0 auto;
}
section > div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

ul {
	list-style-type: none;
	padding: 0;
	max-height: 700px;
	overflow: auto;
}

li {
	background-color: azure;
}

li p {
	padding-left: 10px;
}
